li.splide__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vh;
}

[center]{
	display: flex;
	align-items: center;
	justify-content: center;	
	flex-direction: column;
}

.intro-bg .headline h1{
	font-weight: 700;
	color: #28576a;
}